<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css" media="all">
        <title>Contacts Deleted</title>
    </head>
    <body>
        <div class="container">
            <h2>Contacts Deleted!</h2>
            <p>You've successfully deleted all your contacts!</p>
            <a href="/"><button type="button" name="button" class="btn btn-primary">Home</button></a>
        </div>
    </body>
</html>
